div.game-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex: 1;

  > svg.game-grid {
    min-width: 20em;
    width: 40vw;
  }
}
