div.game-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;

  aspect-ratio: 1 / 1;

  > div.cell {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0.1em solid #ccc;
  }
}
